<div layout="row">
<!-- <div flex="40">
      <md-card>
      	  <md-toolbar class="demo-toolbar">
        <div class="md-toolbar-tools">
          <h3 class="ng-binding"><md-icon md-svg-src="img/icons/conference-hall.svg" class="name"></md-icon> Ingresar a Sala</h3>
          <span flex="" class="flex"></span>
        </div>
      </md-toolbar>
        <md-card-content>
        <form name="salaform" id="salaform" ng-submit="save_user()">
             <md-input-container class="md-icon-float md-block">
		      <label>Contraseña de la Sala</label>
		      <md-icon md-svg-src="img/icons/key.svg"  class="name"></md-icon>
		      <input ng-model="data.pass_sala" name="pass_sala" type="text" required>
		      <div ng-messages="salaform.pass_sala.$error">
                  <div ng-message="required">Contraseña requerida</div>
                </div>
		    </md-input-container>
          </form>
        </md-card-content>
         <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="salaform.$invalid">
              Ingresar
            </md-button>
        </md-dialog-actions>
        </md-card>
</div>&nbsp; -->
<div flex>
<md-card>
    <md-toolbar class="demo-toolbar">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding"><md-icon md-svg-src="img/icons/list-users.svg" class="name"></md-icon> Invitaciones a Salas</h3>
            <span flex="" class="flex"></span>
        </div>
    </md-toolbar>
    <md-card-content>
        <md-toolbar class="md-table-toolbar md-default">
         <md-input-container>
            <label>Buscar................</label>
            <input type="text" ng-model="filterText" flex="25">
        </md-input-container>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                    <tr md-row>
            <th md-column md-numeric>Contraseña</th>
						<th md-column md-numeric>Nombre de Sala</th>
            <th md-column md-numeric>Estado</th>
						<th md-column md-numeric>Ingresar</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="room" md-select-id="name" md-auto-select ng-repeat="room in rooms">
                        <td md-cell><md-input-container class="md-icon-float md-block">
                          <label>Contraseña</label>
                          <md-icon md-svg-src="img/icons/key.svg"  class="name"></md-icon>
                          <input ng-model="pass_sala" name="pass" type="password" required>
                          <div ng-messages="addform.pass.$error">
                                  <div ng-message="required">Contraseña requerida</div>
                          </div>
                        </md-input-container></td>
                        <td md-cell>{{room.nombre_tema}}</td>
                        <td md-cell> <div ng-class="{'state-warnning':room.estado==='ENESPERA','state-ok':room.estado==='ACTIVO','state-error':room.estado==='CERRADO','state-info':room.estado==='PAUSA'}">
                                        <strong>{{room.estado}}</strong>
                                    </div></td>
                        <td md-cell><md-button class="md-raised md-primary" ng-click="open_room(room,pass_sala)" ng-show="room.estado!=='CERRADO'">INGRESAR</md-button></td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{rooms.count}}" md-on-paginate="getRooms" md-page-select></md-table-pagination>
    </md-card-content>
    </md-card>
    </div>
</div>