<div layout="row">
<div flex="30"></div>
<div flex="40">
      <md-card>
      	  <md-toolbar class="demo-toolbar">
        <div class="md-toolbar-tools">
          <h3 class="ng-binding"><md-icon md-svg-src="img/icons/user-outline.svg" class="name"></md-icon> Registrarse</h3>
          <span flex="" class="flex"></span>
        </div>
      </md-toolbar>
        <md-card-content>
        <form name="addform" id="addform" >
        <md-input-container class="md-icon-float md-block tab-left" flex=80>
		      <label>Cedula</label>
		      <md-icon md-svg-src="img/icons/id-card.svg"  class="name"></md-icon>
		      <input ng-model="data.cedula" name="cedula" type="text" required>
		      <div ng-messages="addform.cedula.$error">
                  <div ng-message="required">Usuario requerido</div>
                </div>
		    </md-input-container>
		    <md-input-container class="md-icon-float md-block tab-left" flex=80>
		      <label>Nombres</label>
		      <md-icon md-svg-src="img/icons/input.svg"  class="name"></md-icon>
		      <input ng-model="data.nombres" name="nombres" type="text" required>
		      <div ng-messages="addform.nombres.$error">
                  <div ng-message="required">Usuario requerido</div>
                </div>
		    </md-input-container>
		    <md-input-container class="md-icon-float md-block tab-left" flex=80>
		      <label>Apellidos</label>
		      <md-icon md-svg-src="img/icons/input.svg"  class="name"></md-icon>
		      <input ng-model="data.apellidos" name="apellidos" type="text" required>
		      <div ng-messages="addform.apellidos.$error">
                  <div ng-message="required">Usuario requerido</div>
                </div>
		    </md-input-container>
		    <md-input-container class="md-icon-float md-block tab-left" flex=80>
		      <label>Fecha de Nacimiento</label>
		      <md-icon md-svg-src="img/icons/calendar.svg"  class="name"></md-icon>&nbsp;
		     &nbsp; &nbsp; <md-datepicker ng-model="data.fecha_nac"></md-datepicker>
		    </md-input-container>
		    <md-input-container class="md-icon-float md-block tab-left" flex=80>
		      <label>Email</label>
		      <md-icon md-svg-src="img/icons/envelope.svg"  class="name"></md-icon>
		      <input ng-model="data.email" name="email" type="text" required>
		      <div ng-messages="addform.email.$error">
                  <div ng-message="required">Usuario requerido</div>
                </div>
		    </md-input-container>
        <md-input-container class="md-icon-float md-block tab-left" flex=80>
                        <label>Dirección</label>
                        <md-icon md-svg-src="img/icons/input.svg" class="name"></md-icon>
                        <textarea ng-model="data.direccion" md-maxlength="150" rows="1" md-select-on-focus></textarea>
        </md-input-container>
<!-- 		    <md-input-container class="md-icon-float md-block tab-left" flex=80>
		      <label>Tipo de Usuario</label>
		      <md-icon md-svg-src="img/icons/list.svg"  class="name"></md-icon>
            <md-select ng-model="data.tipo_user" name="tipo_user" required>
              <md-option ng-value="opt" ng-repeat="opt in ['ADMIN','CLIENTE']">{{ opt }}</md-option>
            </md-select>
		      <div ng-messages="addform.tipo_user.$error">
                  <div ng-message="required">Tipo de Usuario requerido</div>
                </div>
		    </md-input-container> -->
		    <md-divider></md-divider>
		    <h3>DATOS DE INGRESO</h3>
		    <md-input-container class="md-icon-float md-block tab-left" flex=80>
		      <label>Usuario</label>
		      <md-icon md-svg-src="img/icons/user.svg"  class="name"></md-icon>
		      <input ng-model="data.user" name="user" type="text" required>
		      <div ng-messages="addform.user.$error">
                  <div ng-message="required">Usuario requerido</div>
                </div>
		    </md-input-container>
		    <md-input-container class="md-icon-float md-block tab-left" flex=80>
		      <label>Contraseña</label>
		      <md-icon md-svg-src="img/icons/key.svg"  class="name"></md-icon>
		      <input ng-model="data.pass" name="pass" type="password" required>
		      <div ng-messages="addform.pass.$error">
                  <div ng-message="required">Usuario requerido</div>
                </div>
		    </md-input-container>
                <md-input-container class="md-icon-float md-block tab-left" flex=80>
        <md-icon md-svg-src="img/icons/image.svg"  class="name"></md-icon>
          <input type="file" name="img" aria-label="file" nv-file-select="" uploader="uploader" required/>
                            <div ng-repeat="item in uploader.queue">
                                <div ng-if="controller.isImage(item._file)">
                                    <div ng-thumb="{ file: item._file, height: 100 }" style="text-align: center; margin-top: 45px;"></div>
                                    <md-button style="position: absolute; top: 30%; left: 59%;" class="md-icon-button" ng-click="item.remove()">
                                    <md-icon md-svg-src="img/icons/remove.svg" ></md-icon>
                                    </md-button>
                                </div>
                            </div>
        </md-input-container>
          </form>
        </md-card-content>
         <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit" ng-click="add_user()" ng-disabled="uploader.queue.length==0">
              Guardar
            </md-button>
        </md-dialog-actions>
        </md-card>
</div>
</div>
<style type="text/css">
.md-datepicker-button{
 display: none;
}
</style>