<div layout="row">
<div flex="40">
      <md-card>
          <md-toolbar class="demo-toolbar">
        <div class="md-toolbar-tools">
          <h3 class="ng-binding"><md-icon md-svg-src="img/icons/conference-hall.svg" class="name"></md-icon> Crear Sala</h3>
          <span flex="" class="flex"></span>
        </div>
      </md-toolbar>
        <md-card-content>
        <md-subheader>
        <strong>DATOS DE LA SALA</strong>
        <md-divider></md-divider>
        </md-subheader>
        <form name="addform" id="addform" ng-submit="save_user()">
             <md-input-container class="md-icon-float md-block tab-left">
              <label>Nombre de la Sala</label>
              <md-icon md-svg-src="img/icons/input.svg"  class="name"></md-icon>
              <input ng-model="data.nombre_sala" name="nombre_sala" type="text" required>
              <div ng-messages="addform.nombre_sala.$error">
                  <div ng-message="required">Usuario requerido</div>
                </div>
            </md-input-container>
            <md-subheader>
            <strong>DATOS DE EMAIL</strong>
            <md-divider></md-divider>
            </md-subheader>
            <md-input-container class="md-icon-float md-block tab-left">
              <label>Saludo</label>
              <md-icon md-svg-src="img/icons/input.svg"  class="name"></md-icon>
              <input ng-model="data.saludo" name="saludo" type="text" >
            </md-input-container>
            <md-input-container class="md-icon-float md-block tab-left">
              <label>Cuerpo</label>
              <md-icon md-svg-src="img/icons/input.svg"  class="name"></md-icon>
            <textarea ng-model="data.cuerpo" md-maxlength="150" rows="3" md-select-on-focus></textarea>
            </md-input-container>
        <md-subheader>
        <strong>SELECCIONAR AMIGOS</strong>
        <md-divider></md-divider>
        </md-subheader>
        <md-toolbar class="md-table-toolbar md-default">
         <md-input-container class="md-icon-float md-block tab-left">
            <label>Buscar................</label>
            <input type="text" ng-model="filterText" flex="50">
        </md-input-container>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                    <tr md-row>
                        <th md-column md-numeric>#</th>
                        <th md-column md-numeric>NOMBRES COMPLETOS</th>
                        <th md-column md-numeric>EMAIL</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="usuario in usuarios">
                        <td md-cell>{{usuario.id}}</td>
                        <td md-cell>{{usuario.nombres}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{usuarios.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
          </form>
        </md-card-content>
            <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="addform.$invalid">
              CREAR SALA Y ENVIAR SOLICITUDES
            </md-button>
        </md-dialog-actions>
        </md-card>
</div>
<div flex>
<md-card>
    <md-toolbar class="demo-toolbar">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding"><md-icon md-svg-src="img/icons/list-users.svg" class="name"></md-icon> Listado de Salas</h3>
            <span flex="" class="flex"></span>
        </div>
    </md-toolbar>
    <md-card-content>
        <md-toolbar class="md-table-toolbar md-default">
         <md-input-container>
            <label>Buscar............</label>
            <input type="text" ng-model="filterText" flex="50">
        	<md-button class="md-icon-button" aria-label="Eliminar Usario">
          		<md-icon md-svg-src="img/icons/delete.svg" ></md-icon>
        	</md-button>
        </md-input-container>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                    <tr md-row>
                        <th md-column md-numeric>TÍTULO</th>
                        <th md-column md-numeric>FECHA</th>
                        <th md-column md-numeric>HORA</th>
                        <th md-column md-numeric>ESTADO</th>
                        <th md-column md-numeric>REANUDAR</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="usuario in usuarios">
                        <td md-cell>{{usuario.id}}</td>
                        <td md-cell>{{usuario.cedula}}</td>
                        <td md-cell>{{usuario.nombres}}</td>
                        <td md-cell>{{usuario.email}}</td>
                        <td md-cell>ver-Perfil</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{usuarios.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
    </md-card-content>
    </md-card>
    </div>
</div>
<style type="text/css">
.tab-left{
        margin-left: 5%;
}
</style>