<div layout="row">
    <div flex>
        <md-card>
            <md-toolbar class="demo-toolbar">
                <div class="md-toolbar-tools">
                    <h3 class="ng-binding"><md-icon md-svg-src="img/icons/conference-hall.svg" class="name"></md-icon> Conferencia</h3>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>
            <md-card-content>
                  <span>
                    <a href="" target="_blank" title="Open this link in new tab. Then your room will be private!">
                        <code>
                            <strong id="unique-token"></strong>
                        </code>
                    </a>
                </span>
                <input type="text" id="conference-name" ng-show="false">
                <md-button id="setup-new-conference" class="md-icon-button" ng-click="startSala()" ng-show="tipo_user=='ADMIN'" type="button">
                    <md-tooltip md-direction="top">
                     Iniciar Conferencia
                     </md-tooltip>
                    <md-icon md-svg-src="img/icons/play.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="stopSala()" ng-show="tipo_user=='ADMIN'" type="button">
                    <md-tooltip md-direction="top">
                     Detener Conferencia
                     </md-tooltip>
                    <md-icon md-svg-src="img/icons/stop.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="pauseSala()" ng-show="tipo_user=='ADMIN'" type="button">
                    <md-tooltip md-direction="top">
                      Pausar Conferencia
                    </md-tooltip>
                    <md-icon md-svg-src="img/icons/pause.svg"></md-icon>
                </md-button>

 <section class="experiment">
            <div class="make-center">
                <input type="text" id="room-id" value="abcdef">
                <button id="open-room">Open Room</button>
                <button id="join-room">Join Room</button>

                <br><br>
                <input type="text" id="input-text-chat" placeholder="Enter Text Chat" disabled>
                <button id="share-file" disabled>Share File</button>

                <div id="room-urls" style="text-align: center;display: none;background: #F1EDED;margin: 15px -10px;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;"></div>
            </div>
            <div id="videos-container"></div>
        </section>

            <!-- list of all available broadcasting rooms -->
            <table style="width: 100%;" id="rooms-list"></table>
            <!-- local/remote videos container -->
            <div id="videos-container"></div>

            </md-card-content>
        </md-card>
    </div>
</div>
